.time{
    font-family: "Montserrat Alternates";
    &::before{
        content: '';
        display: block;
        width: clamp(100px, 96%, 565px);
        height: 2px;
        background: black;
        margin: 0 auto 12px;
    }

    &__title{
        margin: 36px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        margin-bottom: 36px;   
    }

    &__relative {
    position: relative;
    }

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;
        margin-bottom: 36px;
    }

    &__input{
        width: 135px;
        height: 10px;
        padding: 10px 20px 20px 10px;
        border-radius: 20px;
        background-color: #D7D7D7;
        box-shadow: 3px 3px 0px 0px #00000040;
        border: none;
    }

    &__input::placeholder{
        text-align: center;
        font-weight: 400;
        font-size: 12px;
    }

    &__button{
        display: inline-flex;
        padding: 10px;
        align-items: flex-start;
        border-radius: 0 20px 20px 0;
        background: #000;
        position: absolute;
        top: 1px;
        right: 0px;
    }

    &__svg{
        width: 15px;
        height: 15px;
    }

    &__line{
        border-top: 1px dashed #000;
        width: 100px;
    }
}