body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
    border-radius: 30px;
    padding: 5px;
}

.dino__box{
    display: flex;
    margin-left: 400px;
    gap: 10px;
}