.scientists{
    padding: 20px 0;
        &::before {
  content: '';
  display: block;
  width: clamp(100px, 96%, 536px);
  height: 2px;
  background: black;
  margin: 0 auto 12px;
}



    &__title{
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__sortedList{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        max-width: 577px;
        height: 340px;
    }

    &__box{
        width: 100px;
        height: 100px;
        background-color: #D9D9D9;
        border-radius: 20px;
        margin: 0 auto;
    }

    &__wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wraper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subtitle{
        color: #000;
        text-align: center;
        font-family: "Montserrat Alternates";
        font-size: 8px;
        font-weight: 400;
        line-height: 170%;
        margin-top: 30px;
    }

    &__yers{
        color: #000;
        text-align: center;
        font-family: "Montserrat Alternates";
        font-size: 8px;
        font-weight: 400;
        line-height: 170%;
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 20px 36px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        width: 900px;
    }

    &__desc{
        color: #FFF;
        text-align: right;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        display: inline-flex;
        padding: 10px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 20px;
        background: #000;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border: none;
    }
}
