.footer {
  font-family: "Montserrat Alternates";
  padding: 60px 0;
    //   display: flex;
    // column-gap: 156px;
    // flex-wrap: wrap;
    // width: 100%;
    // justify-content: center;
    // margin: 0 auto;
&__box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
      @media (max-width: 797px) {
      justify-content: center;
      gap: clamp(1.25rem, -3.372rem + 16.81vw, 5rem);
    }
}
  &__logo {
    width: 124px;
    height: 50px;
  }

  &__link {
    color: #000;
  }

  &__input {
    background-color: rgba(215, 215, 215, 1);
    outline: none;
    border: transparent;
    width: 196px;
    height: 35px;
    border-radius: 20px;
    padding-left: 10px;
    color: rgba(126, 126, 126, 1);
    transition: outline 200ms ease;
    &:hover{
      outline: 3px solid rgb(118, 118, 118);
    }
    &:focus{
      outline: 1px solid rgb(118, 118, 118);
    }
    &::placeholder {
      color: rgba(126, 126, 126, 1);
    }
    @media (max-width: 397px) {
      display: block;
      width: 290px;
    }
  }

  &__btn {
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    font-weight: 100;
    color: white;
    border: none;
    transition: background-color 200ms,transform 200ms;
    &:hover{
      background-color: #000000c1;
    }
    &:active{
      transform: scale(1.2);
    }
    @media (max-width: 397px) {
      width: 100%;
    }
  }


  &__wrap{
        @media (max-width: 797px) {
          margin: 0 auto;
    }

  }
  &__form {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    // margin: 0 auto;
    @media (max-width: 397px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    // @media (max-width: 797px) {
    //   margin-top: 30px;
    // }


  }

  &__text {
    font-size: 8px;
    margin-top: 18px;
    // @media (max-width: 367px) {
    //   margin-top: 5px;
    // }
  }

  // &__list {
  //   // @media (max-width: 797px) {
  //   //   margin-right: auto;
  //   // }
  // }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.516);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    height: 245px;
    width: clamp(19.375rem, 0.25rem + 95.63vw, 28.938rem);
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__modal-close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  &__modal__text{
    margin-top: 83px;
    text-align: center;
  }
}

.is__close {
  opacity: 0;
  pointer-events: none;
}
