.footer {
  font-family: "Montserrat Alternates";
  padding: 60px 0;
      display: flex;
    // justify-content: space-between;
    column-gap: 156px;
    max-width: 1090px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;

  &__logo {
    max-width: 165px;
  }

  &__link {
    color: #000;
  }

  &__input {
    background-color: rgba(215, 215, 215, 1);
    outline: none;
    border: none;
    width: 196px;
    height: 35px;
    border-radius: 20px;
    padding-left: 10px;
    color: rgba(126, 126, 126, 1);
    &::placeholder {
      color: rgba(126, 126, 126, 1);
    }
    @media (max-width: 367px) {
      width: 265px;
    }
  }

  &__btn {
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    font-weight: 100;
    color: white;
    border: none;
    @media (max-width: 367px) {
      width: 100%;
    }
  }

  &__form {
    display: flex;
    gap: 36px;
    margin: 0 auto;
    @media (max-width: 367px) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    @media (max-width: 564px) {
      margin-top: 30px;
    }

    @media (max-width: 1065px) {
      margin-top: 50px;
    }
  }

  &__text {
    font-size: 8px;
    margin-top: 18px;
    @media (max-width: 367px) {
      margin-top: 5px;
    }
  }

  &__list {
    @media (max-width: 564px) {
      margin-top: 30px;
    }
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.516);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__modal-close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    top: 5px;
    right: 10px;
  }
}

.is__close {
  opacity: 0;
  pointer-events: none;
}
