.football {
  font-family: "Montserrat Alternates";
&::before {
  content: '';
  display: block;
  width: clamp(100px, 96%, 565px);
  height: 2px;
  background: black;
  margin: 0 auto 12px;
}
  padding: 20px 0;
  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__field {
    width: 100%;
    max-width: 565px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: #00FF00;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
  }

  &__ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;
  }

  &__text {
    text-align: center;
    margin: 36px 0;

  }
}
