body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #111111;
    overflow: hidden;
    padding-top: 36px;
}

body.dark {
    background-color: #494949;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &-container {
        width: 100%;
        height: 80px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.146);
        background-color: #ffffff;

        display: flex;
        align-items: center;
    }

&-nav {
    width: 100%;
    height: 80px;
    margin-left: 175px;

    display: flex;
    justify-content: left;
    align-items: center;


    }

    &-list {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

     &-logo {
            width: 93px;
            height: 39px;
        }

    &-list {
            list-style: none;
    }

    &-contact {
        text-decoration: none;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 12px;
        color: black;
    }

    &-dropdown {
        position: relative;
        display: inline-block;

        &:hover &-content {
            display: block;
        }
    }

    &-dropbtn {
        background-color: transparent;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }

    &-dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        max-width: 160px;
        height: 107px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 1px solid black;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        overflow: hidden;
    }

    &-link {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
        color: black;
        font-family: "Montserrat Alternates", sans-serif;

        &:hover {
            background-color: #f1f1f1;
        }

    }


&-themes {
  position: absolute;
  top: 30px;
  right: 175px;
  gap: 51px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  }

  &-btn {
    width: 40px;
    height: 20px;
    background-color: #7A7A7A;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    transition: background-color 0.3s ease;
  }

  &-switch-thumb {
      width: 16px;
      height: 15px;
      background-color: #ffffff; /* світлий кружечок */
      border-radius: 50%;
      border: 1px solid black;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    &-img-light-theme {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
    }

     &.active {
      background-color: #7A7A7A; 
    }
    
    &-img-dark-theme {
        display: none;
      }


    &-user-greeting {
        font-size: 12px;
        font-family: "Montserrat Alternates", sans-serif;
    }

    &-btn.active &-switch-thumb {
        transform: translate(18px, -50%);
        background-color: #000000; 
    }

    &-img-dark-theme {
        display: none;
    }

    &-btn.active &-img-light-theme {
        display: none;
    }

    &-btn.active &-img-dark-theme {
        display: block;
    }


}