.team{
position: relative;
font-family: "Montserrat Alternates";

&__title{
    text-align: center;
    margin-bottom: 20px;
}
    &__box{
        display: flex;
        justify-content: center;
    }


    &__slider{
        width: 300px;
        // border: 1px solid red;
        overflow-x: hidden;
    }

    &__list{
        display: flex;
        justify-content: center;
        
        gap: 100px;
        transition: transform 0.5s;
        // transform: translate(500px,0px);
    }

    &__item{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin: 0 auto;
        gap: 10px;
    }
&__img{
    width: 150px;
    height: 150px;
    background-color: rgb(111, 111, 111);
    border-radius: 20px;
}

&__subtitle{
    display: flex;
    justify-content: center;
        text-align: center;
}

&__text{
    display: block;
    text-align: center;
    height: 55px;
    width: 150px;
}

&__arrow{
        width: 50px;
        height: 100px;
    position: absolute;
    top: 0;
    @media screen and (max-width:400px) {
        display: none;
    }
}

&__ri{
    // transform: translate(clamp(9.375rem, 3.94rem + 21.74vw, 18.75rem),90px);
    right: clamp(1.875rem, -7.908rem + 39.13vw, 18.75rem);
    top: 60px;
        transform: transform .1s;
    &:active{
        transform: scale(1.3);
    }
}

&__le{
    //   transform: translate(clamp(-300px, -63.044px + -21.739vw, -150px), 90px) rotate(180deg);
    top: 60px;
    left: clamp(1.875rem, -7.908rem + 39.13vw, 18.75rem);
    transition: transform .1s;
    transform: rotate(180deg);
    &:active{
        transform: scale(1.3) rotate(180deg);
    }
}
&__items{
display: flex;
gap: 5px;
margin-top: 20px;
justify-content: center;
}

&__line{
    width: 18px;
    height: 3px;
    background-color: rgba(217, 217, 217, 1);
    display: block;
    border-radius: 3px;
        transition:  background-color 0.5s,width 0.5s;
}

&__active{
    width: 30px;
    background-color: rgba(121, 121, 121, 1);
}


// &__scale{
//     transform: scale(2);
// }
}