.threeNumbers{
     width: auto;


     &__center{
        text-align: center;
     }

       &__title{
       color: #000;
       font-family: "Montserrat Alternates";
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       margin-bottom: 40px;
       padding-top: 36px;
       }

       &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
        margin-bottom: 38px;
       }

       &__input{
        width: 100px;
        display: inline-flex;
padding: 10px 20px 10px 20px;
align-items: flex-start;
gap: 10px;
border-radius: 20px;
background: #D7D7D7;
box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
border: none;
       }

         hr{ 
            width: 536px;
            border: 1px solid #000000;
        }
}