.year {
padding: 36px 0;
  &__title {
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex; 
    justify-content: center;
    text-align: center;
  }

  &__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 149px;
    margin-top: 36px;
  }
}
