.year {
  padding: 36px 0;
  &__title {
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 149px;
    margin-top: 36px;
  }

  &__form {
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));
    margin-right: 149px;
  }

  &__input {
    position: absolute;
    background-color: #d7d7d7;
    border: none;
    padding: 10px 45px 10px 10px;
    outline: none;
    border-radius: 20px;
  }

  &__btn {
    position: relative;
    left: 213px;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: #000;
    cursor: pointer;
  }

  &__img {
    width: 17px;
    height: 17px;
  }

  &__text {
    text-align: right;
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
