@use "./base/reset";
@use "./base/container";
@use "./section/header";
@use "./section/year";
@use "./section/number";
@use "./section/game";
@use "./section/calculator";
@use "./section/calculator_time";
@use "./section/dinosaur";
@use "./section/football";
@use "./section/three_number";
@use "./section/team";
@use "./section/doctrine";
@use "./section/footer";
@use "./section/modal";