<section class="calculator">
  <div class="container">
    <h2 class="calculator__title">Калькулятор</h2>
    <form class="calculator__form">
      <input placeholder="Введіть число" type="text" class="calculator__input" data-action="firstNumber"/>
      <div class="calculator__box">
    <button type="button" class="calculator__button" data-action="plus">+</button>
    <button type="button" class="calculator__button" data-action="multiply">*</button>
    <button type="button" class="calculator__button" data-action="minus">-</button>
    <button type="button" class="calculator__button" data-action="divide">/</button>
    </div>
      <input placeholder="Введіть число" type="text" class="calculator__input" data-action="secondNumber">
      <button type="button" class="calculator__button" data-submit="submit">=</button>
      <input placeholder="Результат" type="text" class="calculator__result" data-action="result">
    </form>
  </div>
</section>