<footer class="footer">
  <div class="container footer__box">
    <a class="footer__link-logo" href="#">
      <img class="footer__logo" src="/img/svg/logo.svg" alt="logo" />
    </a>

    <ul class="footer__list">
      <li><a class="footer__link" href="#">Тел: +38 (123) 456 78 90</a></li>
      <li>
        <a class="footer__link" href="#">E-Mail: codingmagic@gmail.com</a>
      </li>
      <li><a class="footer__link" href="#">Facebook: CodingMagic</a></li>
      <li><a class="footer__link" href="#">Twitter: CodingMagic</a></li>
      <li><a class="footer__link" href="#">Instagram: CodingMagic</a></li>
    </ul>

    <div class="footer__wrap">
      <form class="footer__form">
        <input
          class="footer__input"
          type="email"
          required
          placeholder="Ваша ел. адреса..."
          title="Введіть коректну email адресу"
        />

        <button class="footer__btn" type="button">Підписатись</button>
      </form>
      <p class="footer__text">
        *Підписавшись, Ви зможете отримувати інформацію про новинки
      </p>
    </div>
  </div>
</footer>

<div class="footer__backdrop is__close">
  <div class="footer__modal">
    <img class="footer__modal-close" src="/img/svg/close.svg" alt="close" />
    <ul class="footer__modal-list">
      <li class="footer__modal-item"><img src="/img/tic-tac-toe.png" alt="" class="footer__modal-img"></li>
      <li class="footer__modal-item"><img src="/img/puzzle.png" alt="" class="footer__modal-img"></li>
      <li class="footer__modal-item"><img src="/img/game-development.png" alt="" class="footer__modal-img"></li>
      <li class="footer__modal-item"><img src="/img/sword.png" alt="" class="footer__modal-img"></li>
    </ul>
    <p class="footer__modal__text">Дякую за підписку!</p>
  </div>
</div>
