  <footer class="footer">
      <!-- <div class="container footer__box"> -->
        <a class="footer__logo" href="#">
          <img src="./image/Group 128 1.svg" alt="logo" />
        </a>

        <ul class="footer__list">
          <li><a class="footer__link" href="#">Тел: +38 (123) 456 78 90</a></li>
          <li>
            <a class="footer__link" href="#">E-Mail: codingmagic@gmail.com</a>
          </li>
          <li><a class="footer__link" href="#">Facebook: CodingMagic</a></li>
          <li><a class="footer__link" href="#">Twitter: CodingMagic</a></li>
          <li><a class="footer__link" href="#">Instagram: CodingMagic</a></li>
        </ul>

        <div>
          <form class="footer__form">
            <input
              class="footer__input"
              type="text"
              placeholder="Ваша ел. адреса..."
            />
            <button class="footer__btn" type="button">Підписатись</button>
          </form>
          <p class="footer__text">
            *Підписавшись, Ви зможете отримувати інформацію про новинки
          </p>
        </div>
      </div>
    </footer>

    <div class="footer__backdrop is__close">
      <div class="footer__modal">
        <img class="footer__modal-close" src="#" alt="close" />
        <p>llskkwskcsk</p>
      </div>