<header class="header">
        <div class="header-menu">

            <nav class="header-nav">
                <div class="header-list">
                    <img class="header-logo" src="../img/svg/logo.svg" alt="logo">

                    <div class="header-dropdown">
                        <button class="header-dropbtn">Інтерактив </button>
                        <div class="header-dropdown-content">
                            <a class="header-link" href="#">Числовий</a>
                            <a class="header-link" href="#">Ігровий</a>
                            <a class="header-link" href="#">Ознайомчий</a>
                        </div>
                    </div>

                    <a class="header-contact" href="">Наша команда</a>
                    <a class="header-contact" href="">Контакти</a>

                

                </div>
            </nav>

              <div class="header-themes">
                        <button class="header-btn" id="btn-theme-toggle">
                            <span class="header-switch-thumb">
                                <img class="header-img-light-theme" src="/img/light-theme.svg" alt="light-theme">
                                <img class="header-img-dark-theme" src="/img/dark-theme.svg" alt="dark-theme">
                            </span>
                        </button>

                        <span class="header-user-greeting">Вітаємо, User!</span>
                    </div>

        
        </div>
    </header>
