<div class="backdrop is-active"> 
        <div class="modal">
            <button class="modal-btn-close" type="button"><img src="../img/svg/close.svg" alt=""></button>

            <div class="modal-content">

                <p class="modal-title">Привіт!<br>
                Ви потрапили на сайт інтерактивних ігор та завдань<br>
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
                Бажаємо Вам гарно провести час!</p>

                <h3 class="modal-text">Введіть своє ім’я:</h3>

                <input class="modal-input" type="text" placeholder="Ваше ім’я...">

                <button class="modal-btn">Зберегти</button>

            </div>

        </div>
    </div>    