 <section class="team">
        <div class="container team__box">
          <p class="team__title">Наша команда</p>
      <div class="team__slider">
        <ul class="team__list">
          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <h3 class="team__subtitle">Назар</h3>
            <p class="team__text">team lead</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <h3 class="team__subtitle">Богдан</h3>
            <p class="team__text">scrime master</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <h3 class="team__subtitle">Микола</h3>
            <p class="team__text">developer</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <h3 class="team__subtitle">Лілля</h3>
            <p class="team__text">developer</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <h3 class="team__subtitle">Даша</h3>
            <p class="team__text">developer</p>
          </li>
        </ul>
        <ul class="team__items">
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
        </ul>
      </div>
<img class="team__ri team__arrow" src="/img/svg/arrow.svg" alt="">
<img class="team__le team__arrow" src="/img/svg/arrow.svg" alt="">

      </div>
    </section>