 <section class="team">
        <div class="container">
          <p class="team__title">Наша команда</p>
          <div class="team__box">
            <img class="team__le team__arrow" src="/img/svg/arrow.svg" alt="">
      <div class="team__slider">
        <ul class="team__list">
          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <p class="team__subtitle">Назар<p3>
            <p class="team__text">Team Lead</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <p class="team__subtitle">Богдан</p>
            <p class="team__text">Scrum Master</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <p class="team__subtitle">Микола</p>
            <p class="team__text">Developer</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <p class="team__subtitle">Лілля</p>
            <p class="team__text">Developer</p>
          </li>

          <li class="team__item">
            <img class="team__img" src="#" alt="" />
            <p class="team__subtitle">Даша</p>
            <p class="team__text">Developer</p>
          </li>
        </ul>
        <ul class="team__items">
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
            <li class="team elem"><span class="team__line"></span></li>
        </ul>
      </div>
<img class="team__ri team__arrow" src="/img/svg/arrow.svg" alt="">


      </div></div>
    </section>