<section class="threeNumbers">
    <hr>
       <div class="container">
        <div class="threeNumbers__center">
            <h2 class="threeNumbers__title">
                   Введіть 3 числа
            </h2>
            <div class="threeNumbers__buttons">
                <ul class="threeNumbers__list">
                     <li class="threeNumbers__item">
                        <input type="text" class="threeNumbers__input" placeholder="Введіть число" data-index="0">
                    </li>
                     <li class="threeNumbers__item">
                        <input type="text" class="threeNumbers__input" placeholder="Введіть число" data-index="1">
                    </li>
                     <li class="threeNumbers__item">
                        <input type="text" class="threeNumbers__input" placeholder="Введіть число" data-index="2">
                    </li>
                </ul>
                <p class="threeNumbers__text">
                  Найбільше число, яке ви ввели -
                </p>
            </div>
            </div>
       </div>
       <hr>
</section>