<section class="year">
  <div class="container">
    <h1 class="year__title">Перевір в який рік ти народився</h1>
    <div class="year__wrap">
      <form action="" class="year__form">
        <input
          type="text"
          class="year__input"
          placeholder="Введіть рік народження"
        />
        <button type="button" class="year__btn">
          <img src="../img/lupa.png" alt="search" class="year__img" />
        </button>
      </form>
      <p class="year__text">Lorem ipsum dolor sit amet consectetur.</p>
    </div>
  </div>
</section>
