   <div class="year container">

            <h1 class="year-title">Популярні інетрактивні ігри</h1>

            <hr>

            <h2 class="year-subtitle">Перевір в який рік ти народився</h2>

            <div class="year-leap">

                <div class="year-search">

                    <input class="year-text" type="number" placeholder="Введіть рік народження">
                    <button class="year-btn">
                        <img src="../img/lupa.png" alt="">
                    </button>

                </div>

                <span class="year-span">Ви народилися у високосний рік!</span>

            </div>

        </div>